<div class="row">
    <div class="col">
        <label for="min_samples_split">Minimum Sample Split</label>
        <input type=number class="form-control" name="min_samples_split" id="min_samples_split" value=2 step=1/>
    </div>
    <div class="col">
        <label for="min_samples_leaf">Minimum Sample Leaf</label>
        <input type=number class="form-control" name="min_samples_leaf" id="min_samples_leaf" value=1 step=1 />
    </div>
</div>
<div class="row">
    <div class="col">
        <label for="min_weight_fraction_leaf">Minimum Weight Fraction Leaf</label>
        <input type=number class="form-control" name="min_weight_fraction_leaf" id="min_weight_fraction_leaf" value=0.0 />
    </div>
    <div class="col">
        <label for="min_impurity_decrease">Miniumum Impurity Decrease</label>
        <input type=number class="form-control" name="min_impurity_decrease" id="min_impurity_decrease" value=0.0 />
    </div>
</div>

<input type="submit" class="btn btn-primary" name="submit"></input>