<!doctype html>
<html class="no-js" lang="">

<head>
  {% block head %}
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Home - EZ ML</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="{{url_for('static',filename='site.webmanifest')}}">
  <link rel="apple-touch-icon" href="{{url_for('static',filename='icon.png')}}">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="{{url_for('static',filename='css/normalize.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  {% endblock %}
</head>

<body>
		{% block header %}
		<header class='navbar'>
			<a class="navbar-brand" href="#">EZ ML</a>
		</header>
		{% endblock %}
{% block body %}

<form id="form" action="">
	<h1>Build your own Machine Learning classifier</h1>
	
	<div class="form-group">
		<div class="row">
			<div class="col">
				<label for="train-data">Choose training data</label>
				<input type="file" class="form-control-file" name="train-data" required>
			</div>
			<div class="col">
				<label for="train-targets">Choose training targets</label>
				<input type="file" class="form-control-file" name="train-targets" required>
			</div>
			<div class="col">
				<label for="test-data">Choose test data</label>
				<input type="file" class="form-control-file" name="test-data" required>
			</div>
		</div>
	</div>
	<label for="selection">Select a classifier</label>
	<select id="selection" class="form-control">
		<option disabled selected>Choose...</option>	
		<optgroup label="Classifiers">
		<option value="neural-net" >Neural Network</option>
		<option value="knn">K-Nearest Neighbors (KNN)</option>
		<option value="svm">Support Vector Machine (SVM)</option>
		<option value="rf">Random Forest</option>
		<option value="dt">Decision Tree Classifier</option>
		</optgroup>
		<optgroup label="Regressers">
			<option disabled>Coming Soon...</option>
		</optgroup>
	</select><br>
	<div class="form-group">
		<label for="email-input">Email address</label>
		<input type="email" class="form-control" id="email-input" aria-describedby="emailHelp" placeholder="Enter email">	
		<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
	</div>
	<div class="form-group">
		<label for="phone-input">Phone number</label>
		<input type="tel" class="form-control" id="phone-input" aria-describedby="telHelp" placeholder="Enter Phone Number">
		<small id="telHelp" class="form-text text-muted">Nor will we share your phone number with anyone else.</small>
	<div class="form-group">
		<input type="submit" name="to-params"  class="btn btn-primary" value="Select parameters">
	</div>
</form>
{% endblock %}

<script src="{{url_for('static',filename='js/vendor/modernizr-3.6.0.min.js')}}"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="{{url_for('static',filename='js/vendor/jquery-3.3.1.min.js')}}"><\/script>')</script>
  <script src="{{url_for('static',filename='js/plugins.js')}}"></script>
  <script src="{{url_for('static',filename='js/main.js')}}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-132345519-1', 'auto'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>