<label for="nn-input"><strong>Number of neighbors</strong></label>
<input type="number" class="form-control" value="5" name="num-neighbors id="nn-input"></input>
<label for="leaf-size"><strong>Leaf size</strong></label>
<input type="input" class="form-control" value="30" name="leaf" id="leaf-size></input>
<label for="p-input"><strong>P</strong></label>
<input type="input" class="form-control" value="2" name="p" id="p-input"></input><br>
<input type="submit" class="btn btn-primary" name="submit"></input>