<div class="row">
    <div class="col">
        <label for="min_samples_split"><strong>Minimum Sample Split</strong></label>
        <input type=number class="form-control" name="min_samples_split" id="min_samples_split" value=2 />
    </div>
    <div class="col">
        <label for="min_samples_leaf"><strong>Minimum Sample Leaf</strong></label>
        <input type=number class="form-control" name="min_samples_leaf" id="min_samples_leaf" value=1 />
    </div>
</div>
<div class="row">
    <div class="col">
        <label for="min_weight_fraction_leaf"><strong>Minimum Weight Fraction Leaf</strong></label>
        <input type=number class="form-control" name="min_weight_fraction_leaf" id="min_weight_fraction_leaf" value=0.0 />
    </div>
    <div class="col">
        <label for="min_impurity_decrease"><strong>Minimum Impurity Decrease</strong></label>
        <input type=number class="form-control" name="min_impurity_decrease" id="min_impurity_decrease" value=0.0 />
    </div>
</div><br>
<div class="form-group">
<input type="submit" class="btn btn-primary" name="submit"></input>
</div>