<div class="row">
    <div class="col">
        <label for="C"><strong>C</strong></label>
        <input type=number class="form-control" name="C" id="C" value=1.0 />
    </div>
    <div class="col">

        <label for="kernel"><strong>Kernel</strong></label>
        <select class="form-control" name="kernel" id="kernel">
            <option value='rbf'>RBF</option>
            <option value='linear'>Linear</option>
            <option value='poly'>Polynomial</option>
            <option value="precomputed">Precomputed</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col">
        <label for="degree"><strong>Degree</strong></label>
        <input type=number class="form-control" name="degree" id="degree" value=3 />
    </div>
    <div class="col">
        <label for="coef0"><strong>Coef 0</strong></label>
        <input type=number class="form-control" name="coef0" id="coef0" value=0.0 />
    </div>
</div>
<div class="row">
    <div class="col">
        <label for="shrinking"><strong>Shrinking</strong></label>
        <input type=checked class="form-control" name="shrinking" id="shrinking" value=True checked />
    </div>
    <div class="col">
        <label for="probability"><strong>Probability</strong></label>
        <input type=number class="form-control" name="probability" id="probability" value=True checked />
    </div>
</div>
<div class="row">
    <div class="col">
        <label for="tol"><strong>Tolerance</strong></label>
        <input type=number class="form-control" name="tol" id="tol" value=0.001 />
    </div>
    <div class="col">
        <label for="cache_size"><strong>Cache size</strong></label>
        <input type=number class="form-control" name="cache_size" id="cache_size" value=200 />
    </div>
    <div class="col">
        <label for="max_iter"><strong>Maximum iterations</strong></label>
        <input type=number class="form-control" name="max_iter" id="max_iter" value=-1 />
    </div>
</div><br>
<input type="submit" class="btn btn-primary" value="Submit" />
