<label for="C">C</label>
<input type=number class="form-control" name="C" id="C" value=1.0 />
<label for="kernel">kernel</label>
<input type=number class="form-control" name="kernel" id="kernel" value='rbf' />
<label for="degree">degree</label>
<input type=number class="form-control" name="degree" id="degree" value=3 />
<label for="coef0">coef0</label>
<input type=number class="form-control" name="coef0" id="coef0" value=0.0 />
<label for="shrinking">shrinking</label>
<input type=number class="form-control" name="shrinking" id="shrinking" value=True />
<label for="probability">probability</label>
<input type=number class="form-control" name="probability" id="probability" value=False />
<label for="tol">tol</label>
<input type=number class="form-control" name="tol" id="tol" value=0.001 />
<label for="cache_size">cache_size</label>
<input type=number class="form-control" name="cache_size" id="cache_size" value=200 />
<label for="max_iter">cache_size</label>
<input type=number class="form-control" name="max_iter" id="max_iter" value=-1 />
